{% extends "base.html" %}


{% block  body %}
<div class = "col-md-6 offset-md-3">

    

    
    <div class="card">
        <div class="card-header"><strong>
              
           Expense Record </strong>
        </div>
    <div class="card" >
        <div class="card-body">
          {% comment %}  {% endcomment %}
          
          <p class="card-text"> <Strong> Name: </Strong> {{record.Name}}</p>
          <p class="card-text"> <Strong> Cost: </Strong> {{record.Cost}}</p>
          <p class="card-text"> <Strong> Created_at: </Strong> {{record.Created_at}}</p>
          
          
          
          <a href="{% url "update" record.id %}" class="btn btn-primary">Update</a>
          <a href="{% url "delete" record.id %}" class="btn btn-danger">Delete</a>

          <a href="{% url "home" %}" class="btn btn-secondary">Back</a>
        </div>
      </div>
   
    
</div>
{% endblock %}