{% extends "base.html" %}

{% block  body %}

<div class = "col-md-6 offset-md-3">

    {% if user.is_authenticated %}

    <h1> Expense Tracker </h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Cost</th>
          <th scope="col">TimeStamp</th>
        </tr>
      </thead>
      <tbody>
    {% if records %}
    
    
    {% for record in records %}
    
      
        <tr>
          <td><a href = "{% url "expense_record" record.id %}"> {{record.id}} </a></td>
          <td>{{record.Name}}</td>
          <td>{{record.Expenses}}</td>
          <td>  {{record.Created_at}}  </td>
        </tr>
        
    
    

  {% endfor %}
    
    
    {% endif %}
      </tbody>
  </table>
    

    {% else %}
<h1> Login </h1>
</br>
<form method = "POST" action = "{% url "home" %}">
    {% csrf_token %}
    <div class="mb-3">
     
      <input type="text" class="form-control" name = "username"  placeholder = "username" required>
     
    <div class="mb-3">
    </br>
      <input type="password" class="form-control" name = "password" placeholder= "password" required >
    </div>
   
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

</div>


 

{% endif %}
{% endblock  %}
